@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">
            @TempData["message"]

        </div>
    }
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="RememberMe" class="form-label">
                <input asp-for="RememberMe" class="form-check-input" />
                RememberME
                </label>

            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>